
.radiocategories {
    display: inline-grid;

    background-color: #dddddd;
    border: #aaaaaa solid 1px;

    margin: 0.5em;
    padding: 0.5em;
}

.radiocategories__title {
    text-align: center;
    margin: 0.2em;
    font-size: larger;
    border-bottom: 2px groove;
}

.radiocategories__label {
    cursor: pointer;
    margin: 0.2em;
    padding: 0.3em;
    position: relative;
    text-align: right;
}

input[type=radio] {
    margin: 0 5px;
    cursor: pointer;
}



