
.artpresenter {
  align-items: stretch;

  background-color: #eeeeee;
  border: #dddddd solid 1px;

  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

  margin: 1em auto;
  max-width: 50em;

  width: 100%;
}

.artpresenter__image {
  flex-basis: 20em;
  flex-shrink: 0;

  margin: auto;

  height: auto;

  max-width: 40em;

  overflow: hidden;

  width: 100%;
}

.artpresenter__image svg {
  height: auto;

  max-height: 15em;

  width: 100%;
}

.artpresenter__text {
  background-color: #ffffff;
  box-sizing: border-box;

  flex: 1;
  flex-basis: 15em;

  padding: 1em;
}
