
.artpresenter {
  align-items: stretch;

  background-color: #eeeeee;
  border: #dddddd solid 1px;

  display: flex;

  flex-direction: column;

  justify-content: space-around;

  margin: auto;
  max-width: 50em;

  width: 100%;
}

.artpresenter__image {
  margin: auto;
}

.artpresenter__text {
  background-color: #ffffff;
  box-sizing: border-box;

  margin: auto;
  max-width: 40em;

  padding: 1em;

  width: 100%;
}