/**
 * Defines the outer edges of the application.
 * Uses a flexbox trick to ensure a sticky footer.
 * Read more about sticky footer here: https://css-tricks.com/couple-takes-sticky-footer/
 */
.App {
  align-items: stretch;
  display: flex;

  flex-direction: column;

  justify-content: flex-start;

  min-height: 100vh;
}

.App > header {
  background-color: #222;
  box-sizing: border-box;

  color: white;

  padding: 1em;
  position: relative;

  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main {
  flex: 1;
}

.App > footer {
  background-color: #999999;

  margin-top: auto;

  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
